<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.BoardDAO">
	<insert id="insertBoard">
		insert into project_board(boardno,name,subject,pwd,content,hit) values (0,#{name},#{subject},#{pwd},#{content},#{hit})
		
	</insert>
</mapper>